// @admin styling goes here
// this file only gets loaded for non-admins :-)
#edit-field-banner {
  display:none;
}

.node-form .form-item-menu-description {
  display:none;
}

a[href="/admin/structure/menu"] {
  display:none;
}