// @header styling goes here

.front #zone-header-wrapper {
  width: 960px;
}
#zone-header-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-bottom :5px;
  #zone-header {
    width: 100%;
    margin: 0!important;    
    .grid-12 {
      width: 100%;
      max-width: 100%!important;
    }
    img {
      width:100%;
    }
    #region-header-first {
      width: 100%!important;
      margin:0;
    }
  }
}