// Basic HTML element styling. No custom classes should go in here. Designers often
// send a version of the code below to be cut/pasted in to immediately style
// all basic elements according to the style guide.

body {
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

p, span, div {
  font-size:12px;
  line-height:18px;
  font-family:Verdana, Arial, Helvetica, sans-serif;  
}

// PLACEHOLDERS ----------------------------------------------------------------
/*
h1 {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}
h2 {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
}

h2 a {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 18px;
  color: #2664AB;  
}

h3 {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 15px;
  color: #000;  
}

h3 a {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 13px;
  color: #2664AB;  
}

h3 {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 13px;
  color: #000;  
}

h3 a {
  font-family: Arial Bold, Helvetica, sans-serif;
  font-size: 15px;
  color: #2664AB;  
}

p
, span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 74%/1.4em;
  color: #000;
  line-height: 150%;
  margin-top: 0;
}

.block-home-page-slider-block .views-field-body p {
  color:#fff;
}

li
, li span
, li p
, li a
, li a:link
, li a:visited
, a
, a:link
, a:visited
, div {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

}

#zone-content a {
  margin-bottom: 10px;
}
a
, a:link
, a:visited {
  color: #2664AB;
}

ul {
  padding-left:15px;
}
*/

  a {
    text-decoration: underline;
    color:#2664ab;
    font-size:12px
  }
  a:visited {
    color:#421c89
  }