// Default Compass variables

// Breakpoint variables
$breakpoint-default-media: screen;
$breakpoint-to-ems: true;
$mobile: max-width 720px;
$mobile-tablet: max-width 1000px;
$tablet: 720px 1000px;

// Colors

// Typography

// Layout