#toptoc {
  width: 24%;
  float: right;
  margin: 0px -1.2em 3em 2em;
}

#toptoc ul {
  padding-left:0;
}
#toptoc li {
  list-style: none;
  height: 17px;
  border-top: 1px solid #e9e9e9;
  padding: 5px 0;
}
#toptoc li.active {
  background-image: url(../images/localnavcarrot.png);
  background-repeat: no-repeat;
  font-weight:bold;
}
#toptoc a {
  text-decoration:none;
  font-size:11px;
  color:#000;
  padding-left: 15px;
}

#toptoc-view-all {
  background-image: url(../images/localnavsearch.png);
  background-repeat: no-repeat;
  background-position: 0px 10px;
}