.node-form {
  .hide {
    display:none;
  }
  .field-type-text-with-summary span.field-edit-link {
    display:none;
  }
  #edit-field-banner {
    display:none;
  }
}

.node-type-sbir-basic-page #edit-body label .field-edit-link {
  display:none;
}

.node-type-sbir-basic-page .field-name-body .text-summary-wrapper {
  display:none; 
}

.node-type-sbir-block #edit-body label .field-edit-link {
  display:none;
}

.node-type-sbir-block .field-name-body .text-summary-wrapper {
  display:none; 
}