.top-padding {
  padding-top: 1rem;
}
.bottom-padding{
  padding-bottom: 1rem;
}
.top-and-bottom-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.top-padding-thicker {
  padding-top: 1.5rem;
}
.top-and-bottom-padding-thicker {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.hover-underline, a.hover-underline {
  text-decoration: none;
  color: $standard-promotional-link;
  font-size: 16px;
  line-height: 24px;
  &:hover, a:hover {
    text-decoration: underline;
    a {
      text-decoration: underline;
    }
  }
  &:visited, a:visited {
    color: $standard-promotional-link-visited;
  }

}

.vertical-center-container {
  @include flexbox();
  @include property-prefix(align-items, center);
  @include property-prefix(justify-content, center);
}


%standard-card-title {
  display: flex;
  @include property-prefix(align-items, center);
  @include property-prefix(justify-content, center);
  height: 70px;
  color: $white;
  & > h3, & > h3 > a, & > h3 > div, & > h3 > span {
    color: $white;
    margin: 0;
  }
}

.standard-card-title {
  @extend %standard-card-title;
}

.dark-background-card-title {
  @extend %standard-card-title;
  background-color:$sbir-card-title-dark-gray;
}

%standard-card-field-item-width {
  @include bp-desktop {
    max-width: 23%;
    min-width:23%;
    flex-basis: 23%;
  }
  @include bp-tablet {
    max-width: 30%;
    min-width: 30%;
    flex-basis: 30%;
  }
  @include bp-phone {
    max-width: 100%;
    @include prefix(width,fill-available);
    @include prefix(width,available,moz);
    flex-basis: 100%;
    //min-width:100%;
    //width: auto;
    margin-right:0;
  }
}
%standard-card-field-item-height {
  @include flexbox();
  @include property-prefix(flex-wrap, wrap);
  flex: 1;
}
.standard-card-field-item-height {
  @extend %standard-card-field-item-height;
}


.standard-card-field-item-width {
  @extend %standard-card-field-item-width;
}

.responsive-image-container {
  max-width: 100%;
  height: auto;
  img {
    height: 100%;
    width: 100%;
  }
}

//Buttons
%primary-button {
  @include coloredLabel();
  @include coloredBorder(2px,solid,$primary-button,$primary-button-hover);
  &.disabled {
    @include disabledLabel();
    @include disabledBorder();
  }
}
.primary-button {
  @extend %primary-button;
}
%red-button {
  @include coloredLabel($button-radius, $white, $white, $standard-promotional-button,$standard-promotional-button, 600,
  $button-top-padding, $button-right-left-padding,
  $button-top-tablet-padding, $button-right-left-tablet-padding,$button-top-phone-padding, $button-right-left-phone-padding,
  'none', 'none', 'none');
  @include coloredBorder(2px,solid,$standard-promotional-button);
  &.disabled {
    @include disabledLabel();
    @include disabledBorder();
  }
}
.red-button {
  @extend %red-button ;
}

//icons
%manager-icon {
  @include standard-background-icon('manager@2x.png','manager@2x.png',70px,70px);
}
.manager-icon {
  @extend %manager-icon;
}
%money-arrows-icon {
  @include standard-background-icon('money-arrows@2x.png','money-arrows@2x.png',70px,70px);
}
.money-arrows-icon {
  @extend %money-arrows-icon;
}
%question-icon {
  @include standard-background-icon('question@2x.png','question@2x.png',70px,70px);
}
.question-icon {
  @extend %question-icon;
}
%piggy-bank-icon {
  @include standard-background-icon('piggy-bank@2x.png','piggy-bank@2x.png',70px,70px);
}
.piggy-bank-icon {
  @extend %piggy-bank-icon;
}
%x-ray-icon {
  @include standard-background-icon('xray@2x.png','xray@2x.png',70px,70px);
}
.x-ray-icon {
  @extend %x-ray-icon;
}
%website-icon {
  @include standard-background-icon('website@2x.png','website@2x.png',70px,70px);
}
.website-icon {
  @extend %website-icon;
}

.centered-container {
  @include flexbox;
  @include property-prefix(justify-content, center);
}

.centered-text {
  text-align: center;
}