// @admin styling goes here
#edit-field-banner {
  display:none;
}

.node-form .form-item-menu-description {
  display:none;
}

.messages.error {
  display:none;
}

a[href="/admin/structure/menu"] {
  display:none;
}
/*.page-admin-structure ul.admin-list li')*/