// @block styling goes here
.view-display-id-left_blocks>.view-content>.views-row {
  -webkit-box-shadow: rgba(0, 0, 0, .2) 3px 3px 3px 4px;
  -moz-box-shadow:rgba(0,0,0,0.2) 3px 3px 3px 4px;
  box-shadow:rgba(0,0,0,0.2) 3px 3px 3px 4px;
  margin-bottom:20px;
}
.pane-home-page-left-blocks {
  font-family:'Verdana';
  .view-announcement {
    border:solid 10px #FDD8A9;
  }
  .views-field-title {
    background-color:#0E316A;
    .field-content {
      h2 {
        font-family:'Trebuchet MS';
        color:#fff;
        font-weight: bold;
        font-size:16px;
        padding: 10px 10px 10px 25px;
        background-image: url(../images/blue-header-bg.png);
        background-repeat: no-repeat;
        background-position: 5px 11px;
        background-size: 16px;
      }
    }
  }

  .views-field-body {
    padding: 20px;
  }

  .views-field-field-footer, .view-footer {
    text-align: right;
    padding: 20px;
  }

  a {
    font-weight: bold;
    font-size: 12px;
  }
}
.pane-announcement-latest {
  font-family:'Verdana';
  .view-announcement {
    border:solid 10px #FDD8A9;
  }
  .views-row {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin:10px;
  }
  .pane-title {
    background-color:#F06B10;
    /*margin-bottom: 15px;*/
    font-family:'Trebuchet MS';
    color:#fff;
    font-weight: bold;
    font-size:16px;
    padding: 10px 10px 10px 25px;
    background-image: url(../images/orange-header-bg.png);
    background-repeat: no-repeat;
    background-position: 5px 11px;
    background-size: 16px;
  }
  .views-field-title {
    margin-bottom:10px;
  }
  .view-footer {
    text-align: right;
    margin:15px 20px;
    a {
      font-weight: bold;
      font-size: 12px;
    }
  }
}

.view-display-id-left_blocks>.view-content>.views-row>.views-field-edit-node {
  margin: 10px 0 0 20px;
}

.views-field-edit-node span a {
  font-size:10px;
}