// @branding styling goes here
#zone-branding-wrapper  {
  height:100px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top:25px;
}

.site-name {
  margin-top:0;
}

.site-name a
,.site-name-slogan {
  /*
  text-indent: -9999px;
  display: block;
  */
  font-family: 'Montserrat', 'Avant Garde';
  font-size:16px;
  color:#808085;
  text-transform: uppercase;
  float:right;
}

.logo-img {
  img {
    margin-right:13px;
  }
}
.logo-img img {
  width:86px;
}

#region-branding {
  width:960px;
  margin:0;
}
.branding-data {
  float:left;
}

#institute-name {
  text-transform: uppercase;
  font-weight:bold;
  font-size:22px;
  color:#c8203f;
  font-family: 'Montserrat', 'Avant Garde';
  line-height:34px;
}