// @header styling goes here


#zone-header-wrapper {
  max-width: 960px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom :15px;
  #zone-header {
    img {
      width:960px;
    }
    #region-header-first {
      margin:0;
    }
  }
}