// @homepage styling goes here
#resources-for:parent div:parent {
  padding:0;
}
#resources-for {
  margin-left:35px;
  text-align:center;
  div {
    display:inline-block;
    width:30%;
  }
  a {
    text-decoration: none;
  }
  .applicants {
    a {
      background: url(../images/applicantsicon.png) no-repeat;
      background-size:60%;
      background-position:21px center;
      height: 90px;
      width: 94px;
      display: block;
      line-height: 175px;
    }
  }
  .awardees {
    margin-left:25px;
    a {
      background: url(../images/awardeesicon.png) no-repeat;
      background-size:60%;
      background-position:center 10px;
      height: 107px;
      width: 79px;
      display: block;
      line-height: 175px;
    }
  }  
  .investors {
    a {
      background: url(../images/investorsicon.png) no-repeat;
      background-size:60%;
      background-position:center 22px;
      height: 72px;
      width: 124px;
      display: block;
      line-height: 175px;
    }
  }
}

.front {
  .view-banner {
    .views-field-body {
      width: 294px;    
      position: relative;
      top: -191px;
      left: 112px;
      height:0;
      p {
        color: #12588e;
        font-size: 17px;
        line-height: 22px;
        font-weight: bold;
        font-family: 'Montserrat', 'Avant Garde';
      }
    }
    img {
      box-shadow: inset 0px 0px 10px -3px #ababab;
      -webkit-box-shadow: inset 0px 0px 10px -3px #ababab;
      -moz-box-shadow: inset 0px 0px 10px -3px #ababab;
      -o-box-shadow: inset 0px 0px 10px -3px #ababab;
    }
  }
  .grid-8 {
    width:570px!important;
  }
  .grid-4 {
    width:350px!important;
  }
}