// @homepage styling goes here
#resources-for:parent div:parent {
  padding:0;
}
#resources-for {
  margin-left:35px;
  text-align:center;
  div {
    display:inline-block;
    width:30%;
  }
  a {
    text-decoration: none;
  }
  .applicants {
    a {
      background: url(../images/applicantsicon.png) no-repeat;
      background-position:21px center;
      height: 90px;
      width: 94px;
      display: block;
      line-height: 175px;
    }
  }
  .awardees {
    margin-left:25px;
    a {
      background: url(../images/awardeesicon.png) no-repeat;
      background-position:center 20px;
      height: 107px;
      width: 79px;
      display: block;
      line-height: 175px;
    }
  }  
  .investors {
    a {
      background: url(../images/investorsicon.png) no-repeat;
      background-position:center 30px;
      height: 72px;
      width: 124px;
      display: block;
      line-height: 175px;
    }
  }
}

.front {
  .view-banner {
    .views-field-body { 
      position: relative;
      top: -191px;
      left: 112px;
      height:0;
      p {
        color: #12588e;
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
        margin-left:-17px;
        font-family: 'Montserrat', 'Avant Garde', sans-serif;
      }
    }
    img {
      box-shadow: 0 5px 10px #e3e3e3;
      -webkit-box-shadow: 0 5px 10px #e3e3e3;
      -moz-box-shadow: 0 5px 10px #e3e3e3;
      -o-box-shadow: 0 5px 10px #e3e3e3;
    }
  }
  .grid-8 {
    width:550px!important;
    margin: 0 30px 0 0!important;
  }
  .grid-4 {
    width:380px!important;
    margin: 0;
  }
  #block-views-banner-banner {
    display:none;
  }
}

#era-commons {
  display:inline-block;
  #era-logo {
    float:left;
    margin-right:25px;
    a  {
      background: url(../images/era_home.png) no-repeat;
      text-indent: -9999px;
      display: block;
      height:120px;
      width:157px;  
    }
  }
  #era-commons-text {
    display: inline-block;
    width: 64%;
    margin-top: 20px;  
  }
  #link-title {
    margin-bottom:5px;
  }
}

#icorp {
  display:inline-block;
  #icorp-logo {
    float:left;
    margin-right:25px;
    a  {
      background: url(../images/icorp_home.png) no-repeat;
      text-indent: -9999px;
      display: block;
      height: 86px;
      width: 157px;
    }
  }
  #icorp-text {
    display: inline-block;
    width: 64%;
    margin-top: 5px; 
  }
  #link-title {
    margin-bottom:5px;
  }
}

#block-sbir-home-page-home-page-banner {
  .block-title {
    display:none;
  }
}