// @left nav styling goes here
#left-nav {
  .pane-title {
    background-image: url(../images/left_nav.png);
    background-repeat: repeat-x;
    margin-bottom:0;
    height: 40px;
    padding: 0px 15px;
    line-height: 40px;
    font-family:'Trebuchet MS';
    font-weight:bold;
    color:#fff;
    font-size:16px;
  }
  ul {
    margin-top:0;
    padding-left:0;
    background-color:#f9f9f9;
  }
  li {
    background-color:#fff;
    list-style: none;
    margin:0;
    padding:0;
  }
  .menu-level-2 {
    .leaf {
    }
  }
  .active-trail {
    font-weight:bold!important;
    padding-bottom:8px;
  }
  .menu-level-2>.menu>li {
    border-top: 1px solid #e0e0e0;
    background-color:#f9f9f9;
    padding-bottom:0;
  }
  .menu-level-2>.menu>li a:hover {
    background-color:#fff;
  }
  .menu-level-2 > .menu > li.active {
    background-color:#fff;
  }
  .menu-level-2>.menu>li.first {
    border-top: none;
    background-color:#f9f9f9;
  }  
  .menu-level-2>.menu>li.expanded {
    background-color:#fff;
    .menu {   
    } 
  }

  .menu-level-2>.menu>li.active-trail>a {
    border-right: solid 5px #FF8408;
    /*
    background-image: url(../images/left_nav.png);
    background-repeat-x: no-repeat;
    background-position-x: 225px;
    background-size: 5px;
    */
    padding-bottom:5px;
  }
  .menu-level-2>.menu>li.active-trail>ul.menu>li.active {
    padding-top: 10px
  }

  .menu-level-2>ul.menu>li.expanded>ul.menu li>a {
    background-image: url(../images/leftnav_bullet.png);
    background-repeat: no-repeat;
    background-position: 16px 18px;
    padding-left:35px;
    padding-bottom:5px;
  }

  .menu-level-2>ul.menu>li.expanded>ul.menu li>a.active {
    background-position: 16px 8px;
  }
  
.menu-level-2>ul.menu>li.expanded>ul.menu li.last>a {
    padding-bottom:15px;
  }  
  .menu-level-2>ul.menu>li.expanded>ul.menu li.last>a.active {
    padding-bottom:10px;
  }  
  
  .menu-level-2>ul.menu>li.expanded>ul.menu li.first>a.active {
    padding-bottom:0;
  }    

  .pane-content a {
    text-decoration: none;
    font-family: "Verdana";
    font-weight:normal;
    font-size:12px;
    color:#000;
    padding: 10px 10px 10px 15px;
    display:block;
  }
  .pane-content li.active-trail ul>li.active-trail>a.active-trail {
    padding: 0;
  }
}