// @main content styling goes here
#zone-content-wrapper {
  /*
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  */
}

.grid-4 {
  margin: 0 0 0 20px!important;
}
.grid-8 {
  margin: 0 20px 0 0!important;
}

.pane-page-title {
  background-color:#0E316A;
  padding:15px;
}
.pane-page-title .pane-content h1 {
  font-family:'Trebuchet MS';
  font-weight:bold;
  color:#fff;
  font-size:16px;
}

.pane-node-body {
  font-family:'Verdana';
  color:#000;
  padding:15px;
  h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
  }
  h1 {
    font-size:24px;
  }
  h2 {
    font-size:22px;
  }
  h3 {
    font-size:18px;
  }
  h4 {
    font-size:16px;
  }
  h5 {
    font-size:14px;
  }
  h6 {
    font-size:13px;
  }
  p {
    font-size:12px;
    line-height:18px;
  }
  a {
    text-decoration: underline;
    color:#2664ab;
    font-size:12px
  }
  a:visited {
    color:#421c89;
  }
}

.page-node .vertical-tabs {
  display:none;
}