// @omega bug fixes

/* fixing clearfix issues with padding at bottom of page */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}