// @search form styling goes here
#block-search-form {
  margin-top:15px;
}
#search-block-form {
  .form-submit {
   margin-top:-1px;
    text-indent: -9999px;
    /*display: block;*/
    background:none;
    border:none;
    background-repeat: no-repeat;
    background-image: url(../images/search_icon2.png);
    /*  background-position: 1px 5px;*/
    background-size:30px;
    height: 30px;
    width: 30px;
    /*display: inline-block;
    top: -5px;
    position: absolute;
    */
    /*
        bottom: 0;
        padding:0;
        margin:0;
        border:0;
        background-color:transparent;
    
    */  
    cursor: pointer;
    /*
    background-color:#E0EAF1;
    border-bottom:1px solid #3E6D8E;
    border-right:1px solid #7F9FB6;
    color:#3E6D8E;
    font-size:90%;
    line-height:2.2;
    margin:2px 2px 2px 0;
    padding:3px 4px;
    text-decoration:none;
    white-space:nowrap;

    box-shadow: inset 0px 0px 10px -3px #ABABAB;
    -webkit-box-shadow: inset 0px 0px 10px -3px #ABABAB;
    -moz-box-shadow: inset 0px 0px 10px -3px #ABABAB;
    -o-box-shadow: inset 0px 0px 10px -3px #ABABAB;

    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    */
  }
  input[type=text] {
    float:left;
    height: 25px;
    width: 165px;
    font-size: 14px;
    padding: 1px 4px;    
    box-shadow: inset 0px 0px 10px -3px #ababab;
    -webkit-box-shadow: inset 0px 0px 10px -3px #ababab;
    -moz-box-shadow: inset 0px 0px 10px -3px #ababab;
    -o-box-shadow: inset 0px 0px 10px -3px #ababab;
    border: solid 1px #ababab;
    border-right:none;
  }
}


::-webkit-input-placeholder {
  font-size:11px;
}

:-moz-placeholder { /* Firefox 18- */
  font-size:11px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size:11px;
}

:-ms-input-placeholder {  
  font-size:11px;
}