// @search results styling goes here
.page-search {
  h2.search-totals {
    margin:15px 0 15px 15px!important;
  }
  .search-results {
    list-style:decimal!important;
    margin-left:35px;
  }
  .search-result {
    list-style: decimal;
  }
  .title {
    margin-left:13px;
  }
  ul.pager {
    text-align: left;
    margin-top: 30px;
    margin-left:10px;
  }
  li.pager-item 
  , li.pager-next
  , li.pager-last
  , li.pager-previous
  , li.pager-first
  , li.pager-current {
    margin-left:0;
  }
  #search-term {
    font-weight:normal;
  }
  ul {
    margin-bottom:0;
  }
}