// @social media styling goes here
#block-menu-menu-social-media {
    float: right;
  margin-bottom: 10px;
  li {
    width:36px;
    float:left;
    list-style:none;
    padding:0!important;
    margin-left:0;
  }
  .email-link a {
    background: url(../images/email_icon.png) no-repeat;
    background-size: 25px 25px;
    text-indent: -9999px;
    display: block;
    height:25px;
  }
  .linkedin-link a {
    background: url(../images/linkedin_icon.png) no-repeat;
    background-size: 25px 25px;
    text-indent: -9999px;
    display: block;
    height:25px;
  }
  .twitter-link a {
    background: url(../images/twitter_icon.png) no-repeat;
    background-size: 25px 25px;
    text-indent: -9999px;
    display: block;
    height:25px;
  }
}
#social-media {
  display:inline-block;
  float:right;
}

.follow-us-text {
  float:left;
  margin-top: 4px;
  margin-right: 10px;
  font-family: 'Montserrat', 'Avant Garde';
  color:#535353;
  font-size:11px;
}