// @social media styling goes here
#block-menu-menu-social-media {
  margin-bottom:15px;
  ul.menu li {
    width:24px;
    float:left;
    list-style:none;
    padding:0!important;
    margin-left:18px;
  }
  .email-link a {
    background: url(../images/email_icon.png) no-repeat;
    text-indent: -9999px;
    display: block;
    height:24px;
  }
  .linkedin-link a {
    background: url(../images/linkedin_icon.png) no-repeat;
    text-indent: -9999px;
    display: block;
    height:24px;
  }
  .twitter-link a {
    background: url(../images/twitter_icon.png) no-repeat;
    text-indent: -9999px;
    display: block;
    height:24px;
  }
}
#social-media {
  float: right;
}

.follow-us-text {
  float:left;
  margin-top: 4px;
  font-family: 'Montserrat', 'Avant Garde';
  color:#535353;
  font-size:11px;
}