// @social media styling goes here
#block-menu-menu-social-media {
  /*float:left;*/
      margin:0 0 5px 0;
  li {
    width:38px;
    float:left;
    list-style:none;
    margin:2px;
    padding:0;
  }
  .email-link a {
    background: url(../images/email_icon.png) no-repeat;
    background-size: 30px 30px;
    text-indent: -9999px;
    display: block;
    height:38px;
  }
  .linkedin-link a {
    background: url(../images/linkedin_icon.png) no-repeat;
    background-size: 30px 30px;
    text-indent: -9999px;
    display: block;
    height:38px;
  }
  .twitter-link a {
    background: url(../images/twitter_icon.png) no-repeat;
    background-size: 30px 30px;
    text-indent: -9999px;
    display: block;
    height:38px;
  }
}
#social-media {
  display:inline-block;
  float:right;
}

.follow-us-text {
  float:left;
  margin-top: 13px;
  margin-right: 10px;
  /*font-family: 'Montserrat', 'Avant Garde';*/
}